@import url('./global.css');

#image {
  background-image: url('./../images/hero-image.jpg');
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#image .background {
  background-color: white;
  box-shadow: 0 0 1px black;
  padding: 15px;
}

#image blockquote {
  width: 300px;
  margin-right: 100px;
  flex-direction: column;
  align-self: flex-end;
  display: flex;
}

#image q {
  color: black;
  font-size: 20px;
  text-align: justify;
}

#image cite {
  text-align: right;
}

#image #contact {
  margin: 15px;
  flex-direction: column;
  align-self: flex-end;
  display: flex;
  text-align: right;
  line-height: 1.5;
  font-size: 15px;
  color: #2d3436;
  font-family: 'regular';
}

h3 {
  font-size: 50px;
  font-family: 'decorativa';
  color: #b2bec3;
  margin: 10px 0;
}

p {
  text-indent: 30px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: 'regular';
  width: 50%;
}

#thanks {
  margin-top: 80px;
  font-family: 'decorativa';
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 50px;
}

#atte {
  font-size: 60px;
}

#name {
  font-size: 50px;
}